{% extends 'base.html'%}

<!-- Style Block -->
{% block style %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
<!-- <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}"> -->

{% endblock %}

<!-- Content Block -->
{%  block content %}
   <main role="main">

        <!-- Main jumbotron-->
        <div class="jumbotron">
          <div class="container">
            <h1 class="display-3">{{headline}}</h1>
            <p>This is website used the News API to look through other websites and give you back the best news sources around the globe. Whether you are into sports or an avid reader of scientific journal, we got you covered. Why don't you explore some of the stories we brong by clocking at some of our links below?</p>

          </div>
        </div>
      
    <div class="container">

<div class="container"> 
<h3 style="text-align: justify"> <strong>General News</strong></h3>

{% for source in business %}
    <div class="col-md-4">
        <div class ="card-styles" style="height:10em">
            <div class ="col-md-4">
                <div class="card-header">
                    <p><strong>{{ source.name}}</strong> </p> 
                </div>
            </div>
            <div class="col-md-8">   
                <div class ="card-body">
                    <p> {{source.description|truncate(200)}} </p>
                    <a href="/articles/{{source.id}}"> View Articles</a>
                </div>       
            </div> 
        </div>
    </div>

    {% endfor %}

  </div>


  <div class="container"> 
      <h3 style="text-align: left"> <strong>Entertainment News</strong></h3>
      
      {% for source in entertainment %}
          <div class="col-md-4">
              <div class ="card-styles" style="height:10em">
                  <div class ="col-md-4">
                      <div class="card-header">
                          <p><strong>{{ source.name}}</strong> </p> 
                      </div>
                  </div>
                  <div class="col-md-8">   
                      <div class ="card-body">
                          <p> {{source.description|truncate(100)}} </p>
                          <a href="/articles/{{source.id}}"> View Articles</a>
                      </div>       
                  </div> 
              </div>
          </div>
      
          {% endfor %}
      
        </div>


        <div class="container"> 
            <h3 style="text-align: left"> <strong>Tech News</strong></h3>
            
            {% for source in technology %}
                <div class="col-md-4">
                    <div class ="card-styles" style="height:10em">
                        <div class ="col-md-4">
                            <div class="card-header">
                                <p><strong>{{ source.name}}</strong> </p> 
                            </div>
                        </div>
                        <div class="col-md-8">   
                            <div class ="card-body">
                                <p> {{source.description|truncate(100)}} </p>
                                <a href="/articles/{{source.id}}"> View Articles</a>
                            </div>       
                        </div> 
                    </div>
                </div>
            
                {% endfor %}
            
              </div>


              <div class="container"> 
                  <h3 style="text-align: left"> <strong>Sports </strong></h3>
                  
                  {% for source in sports %}
                      <div class="col-md-4">
                          <div class ="card-styles" style="height:10em">
                              <div class ="col-md-4">
                                  <div class="card-header">
                                      <p><strong>{{ source.name}}</strong> </p> 
                                  </div>
                              </div>
                              <div class="col-md-8">   
                                  <div class ="card-body">
                                      <p> {{source.description|truncate(100)}} </p>
                                      <a href="/articles/{{source.id}}"> View Articles</a>
                                  </div>       
                              </div> 
                          </div>
                      </div>
                  
                      {% endfor %}
                  
                    </div>

{% include 'footer.html' %}
    {% endblock %}